:root {
  --main-title-color: #0c122d;
  --main-text-color: #575c74;
  --main-text-color-bold: #616777;
  --text-light-color: #ffffff;
  --text-black: #000000;

  --main-bg-color: #ffffff;
  --secondary-bg-color: #f7fdfb;
  --img-bg-color: #dfe0e5;
  --main-accent-color: #ffb800;
  --secondary-accent-color: #1b5fc1;

  --footer-bg-color: #ecf0f5;
  --delimiter-color: #e0e0e0;

  --img-radius: 16px 16px 16px 0px;

  --timing-function: 250ms linear;
}
