html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-family: 'Open Sans', sans-serif;

  &.no-scroll {
    overflow: hidden;
  }
}

main {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.background-container-1 {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 345px;
    left: 0;
    bottom: 120px;
    width: 100%;
    background-color: var(--secondary-bg-color);
    border-bottom-left-radius: 150px;
    z-index: -1;
  }
}
